<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mofany.mapper.TeacherMapper">
    <resultMap id="TeacherResultMap" type="com.mofany.entity.Teacher">
        <id property="jobNum" column="jobNum"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="subject" column="subject"/>
    </resultMap>
    <insert id="insertTeacher" parameterType="com.mofany.entity.Teacher">
        insert into teacher
        values (#{jobNum,jdbcType=INTEGER},
                #{name,jdbcType=VARCHAR},
                #{sex,jdbcType=VARCHAR},
                #{subject,jdbcType=VARCHAR})
    </insert>
    <select id="selectByName" parameterType="java.lang.String" resultMap="TeacherResultMap">
        select *
        from teacher
        where name = #{name,jdbcType=VARCHAR}
    </select>
</mapper>